@import url(../global.css); 

/* DISPAY FLEX PARA QUE O GRUPO FIQUE AO LADO DO OUTRO */
/* JUSTIFY-CONTENT COLOCAR NAS EXTREMIDADES */
/* PADDING ESPAÇAMENTO INTERNO */
/* ALING-ITEMS CETRALIZA NA VERTICAL */
/* BORDER-BOTTOM É A BORDA INFERIOR */
header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 0.7px solid var(--color-gray-3);
}

/* GAP É A DISTANCIA ENTRE OS ELEMENTOS */
/* GAP SÓ PODE SER USADO QUANDO TIVER DISPLAY FLEX */

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 70px;
}


/* A TAG ABAIXO SO VAI ESTILIZAR AS TAGS UL QUE ESTIVEREM DENTRO DE NAVEGATION-HEADER */
/* LIST-STYLE NONE TIRA AS BOLINHAS */
.navigation-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

/* TEXT-DECORATION TIRA O UNDERLINE */
/* FONTE-FAMILY É A FAMILIA DA FONTE */
.navigation-header ul li a{
    text-decoration: none;
    color: var( --color-black); 
    font-family: var(--font-primary);
}

.navigation-header ul li .menu-active{
    color: var(--color-blue);
}

.btn-header{
    font-family: var(--font-primary);
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var(--fonte-weight-button);
}

/* MAIN */
/* DISPLAY FLEX SERVE PARA DEIXAR OS ELEMENTOS AO LAOO  DO OUTRO */
/* JUSTIFY CONTENT DEIXA TUDO CENTRALIZADO NA HORIZONTAL */
/* ALIGN ITEMS DEIXA TUDO CENTRALIZADO NA VERTICAL */
/* GAP É A DISTANCIA ENTRE OS ELEMENTOS */
/* BACKGROUND COLOR É A COR DE FUNDO */
/* PADDING É O ESPAÇAMENTO INTERNO */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-blue-10);
    padding: 50px 0;
}

/* DISPLAY FLEX PÁRA HABILITAR O GAP */
/* FLEX DIRECTION COLUMN SERVE PARA DEIXAR EM COLUNAS */
/* GAP É PARA A DISTANCIA ENTRE OS ELEMENTOS */
.main-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 520px;
}

.main-content h1{
    font-size: var(--fonte-size-h1);
    font-family: var(--font-primary);
    font-weight: var(--fonte-weight-h1);
}

.main-content h1 span{
    color: var(--color-blue);
}

.main-content p{
    font-family: var(--font-primary);
    color: var(--color-gray);
    line-height: 30px;
}

.Container-cta{
    display: flex;
    gap: 10px;
}

/* PADDING É O ESPAÇAMENTO INTERNO */
/* BORDER RADIUS É O ARREDONDAMENTO DA BORDA */
/* FONT WEIGHT É A ESPESSURA DA FONTE */
/* TEXT DECORATION É A DECORAÇÃO DO TEXTO */
/* FONT FAMILY É A FAMILIA DA FONTE */
.btn-primary, .btn-secondary{
    padding: 8px 55px;
    border-radius: 10px;
    font-weight: var(--fonte-weight-button);
    text-decoration: none;
    font-family: var(--font-primary);
}

.btn-primary:hover{
    background-color: #005e89;
}

/* BAGROUND COLOR É A COR DE FUNDO */
/* COLOR COR DE TEXTO */
.btn-primary{
    background-color: var(--color-blue);
    color: var(--color-white);
    transition: 2s;
}

.btn-secondary:hover{
    background-color: #c5c5c5;
    transition: 2s;
}

.btn-secondary{
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}


/* -------- SERVICES ----------- */
.section-services{
    display: grid;
    grid-template-columns: repeat(4,max-content);
    justify-content: center;
    gap: 25px;
    padding: 30px 0px;
    border-bottom: 1px solid var(--color-gray-3);
}

.container-item-service{
    display: flex;
    align-items: center;
    gap: 15px
}

.container-item-service h2{
    font-family: var(--font-primary);
    font-weight: var(--fonte-weight-h4);
    font-size: var(--fonte-size-h4);
}

.container-item-service p{
    font-family: var(--font-primary);
    color: var(--color-gray);
    font-size: var( --fonte-size-cap);
}


/* SECTION DETAILS */
/* align-items cuida da horizontal */
.section-details{
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    padding: 80px 0;
}

.details-apresentation{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
   
}

.details-apresentation h2{
    font-size: var(--fonte-size-h2);
    font-family: var(--font-primary);
    font-weight: var(--fonte-weight-h2);
}

.details-apresentation p{
    font-family: var(--font-primary);
    font-size: var(--font-body);
    color: var(--color-gray-2);
    width: 665px;
    margin: 0 auto;
}

.service-description{
    display: flex;
    align-items: center;
    gap: 60px;
}

.content-service{
    display: flex;
    gap: 40px;
    flex-direction: column;
}

.service-details{
    display: flex;
    align-items: center;
    gap: 25px;
}

.service-details div span{
    font-size: var(--fonte-size-h4);
    font-weight: var(--fonte-weight-h4);
    font-family: var(--font-primary);
}

.service-details div p{
    font-size: var(--fonte-size-cap);
    font-family: var(--font-primary);
    color: var(--color-gray-2);
}

.content-service h3{
    font-size: var(--fonte-size-h3);
    font-family: var(--font-primary);
    font-weight: var( --fonte-weight-h3);
    width: 420px;
}

.content-service h3 span{
    color: var(--color-blue);
}

.content-service{
    color: var(--color-gray);
    font-family: var(--font-primary);
    line-height: 27px;
    width: 450px;
}

