@import url(../global.css); 

/* DISPAY FLEX PARA QUE O GRUPO FIQUE AO LADO DO OUTRO */
/* JUSTIFY-CONTENT COLOCAR NAS EXTREMIDADES */
/* PADDING ESPAÇAMENTO INTERNO */
/* ALING-ITEMS CETRALIZA NA VERTICAL */
/* BORDER-BOTTOM É A BORDA INFERIOR */
header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 0.7px solid var(--color-gray-3);
}

/* GAP É A DISTANCIA ENTRE OS ELEMENTOS */

.container-nav-header{
    display: flex;
    align-items: center;
    gap: 70px;
}


/* A TAG ABAIXO SO VAI ESTILIZAR AS TAGS UL QUE ESTIVEREM DENTRO DE NAVEGATION-HEADER */
/* LIST-STYLE NONE TIRA AS BOLINHAS */
.navigation-header ul{
    display: flex;
    gap: 40px;
    list-style: none;
}

/* TEXT-DECORATION TIRA O UNDERLINE */
/* FONTE-FAMILY É A FAMILI DA FONTE */
.navigation-header ul li a{
    text-decoration: none;
    color: var( --color-black); 
    font-family: var(--font-primary);
}

.navigation-header ul li .menu-active{
    color: var(--color-blue);
}

.btn-header{
    font-family: var(--font-primary);
    text-decoration: none;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-radius: 10px;
    padding: 10px 20px;
    font-weight: var(--fonte-weight-button);
}

/* MAIN */
/* DISPLAY FLEX SERVE PARA DEIXAR OS ELEMENTOS AO LAOO  DO OUTRO */
/* JUSTIFY CONTENT DEIXA TUDO CENTRALIZADO NA HORIZONTAL */
/* ALIGN ITEMS DEIXA TUDO CENTRALIZADO NA VERTICAL */
/* GAP É A DISTANCIA ENTRE OS ELEMENTOS */
/* BACKGROUND COLOR É A COR DE FUNDO */
/* PADDING É O ESPAÇAMENTO INTERNO */
main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: var(--color-blue-10);
    padding: 50px 0;
}

/* DISPLAY FLEX PÁRA HABILITAR O GAP */
/* FLEX DIRECTION COLUMN SERVE PARA DEIXAR EM COLUNAS */
/* GAP É PARA A DISTANCIA ENTRE OS ELEMENTOS */
.main-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 520px;
}

.main-content h1{
    font-size: var(--fonte-size-h1);
    font-family: var(--font-primary);
    font-weight: var(--fonte-weight-h1);
}

.main-content h1 span{
    color: var(--color-blue);
}

.main-content p{
    font-family: var(--font-primary);
    color: var(--color-gray);
    line-height: 30px;
}

.Container-cta{
    display: flex;
    gap: 10px;
}

/* PADDING É O ESPAÇAMENTO INTERNO */
/* BORDER RADIUS É O ARREDONDAMENTO DA BORDA */
/* FONT WEIGHT É A ESPESSURA DA FONTE */
/* TEXT DECORATION É A DECORAÇÃO DO TEXTO */
/* FONT FAMILY É A FAMILIA DA FONTE */
.btn-primary, .btn-secondary{
    padding: 8px 55px;
    border-radius: 10px;
    font-weight: var(--fonte-weight-button);
    text-decoration: none;
    font-family: var(--font-primary);
}

/* BAGROUND COLOR É A COR DE FUNDO */
/* COLOR COR DE TEXTO */
.btn-primary{
    background-color: var(--color-blue);
    color: var(--color-white);
}

.btn-secondary{
    background-color: var(--color-white);
    color: var(--color-blue);
    border: 1px solid var(--color-blue);
}

