/* ------RESET DO CSS */

/* BORDER = BORDA DO ELEMENTO ZERADO */
/* MARGIN = DISTANCIA EXTERNA ZERADO */
/* PADDING = ESPAÇAMENTO INTERNO ZERADO */
/* BOX SIZING = RESPEITAR LARGURA E ALTURA */
*{
    border: 0; 
    margin: 0;    
    padding: 0;
    box-sizing: border-box;
}

/* VARIAVIES CSS */
:root{

        /* Cores */
        /* TODAS AS CORES ABAIXO SÃO VARIAVIES DE COR */
        --color-blue: #1090CB; 
        --color-white: #FFFFFF;
        --color-black: #000000;
        --color-blue-10: #1090CB1a;
        --color-gray-2: #969696;
        --color-gray: #5C5C5C;
        --color-gray-3: #C4C4C4;

        /* FONTES */
        /* TODAS AS FONTES ABAIXO SÃO VARIAVEIS DE FONTE */
        /* SIZE */
        --fonte-size-h1: 35px;
        --fonte-size-h2: 30px;
        --fonte-size-h3: 25px;
        --fonte-size-h4: 18px;
        --fonte-body:    10px;
        --fonte-size-button: 16px;
        --fonte-size-cap: 14px;

        /* weight */
        /* TUDO ABAIXO É UMA VARIAVEL DE ESPESSURA DA FONTE */
        --fonte-weight-h1: 600px;
        --fonte-weight-h2: 600px;
        --fonte-weight-h3: 600px;
        --fonte-weight-h4: 500px;
        --fonte-weight-body: 400px;
        --fonte-weight-button: 60px;
        --fonte-weight-caption: 400px;

        /* FAMILY */
        /*TUDO ABAIXO É UMA VARIAVEL DE UMA FAMILIA DA FONTE */
        --font-primary:"Poppins", sans-serif; 
}
